@charset "utf-8";/* CSS Document */
/*reset*/
body,div,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,iframe,input,textarea,select,label,article,aside,footer,header,menu,nav,section,time,audio,video{ margin:0; padding:0;}
article,aside,footer,header,hgroup,nav,section,audio,canvas,video{display:block;}
body{ font-size: 1rem; font-family:"微软雅黑",Helvetica,STHeiti,Droid Sans Fallback; color: #202124; background:#fff;}
textarea{resize:none;}
iframe,img{border:0;}
ul,ol{list-style:none;}
input,select,textarea{outline:0;-webkit-user-modify:read-write-plaintext-only;}
a{text-decoration:none; color:#fff;}
a:hover { color:#fff;}
h1,h2,h3,h4{font-weight:100;}
img{ display:block;}
.cl { clear:both;}
i,em { font-style:normal;}
/*basic*/
.fl{ float:left;}
.fr{ float:right;}
/*header*/
header{
  width: 100%;
  /* position: fixed;
  left: 0;
  top: 0;
  z-index: 999; */
  height: 4rem;
  background: #FFFFFF;
  box-shadow: 0rem 0.25rem 0.63rem 0rem rgba(0,0,0,0.06 );
  min-width: 82.94rem;
}
.logo { width: 2.5rem; height: 2.5rem; line-height: 2.5rem; margin-right: 0.63rem; }
.logo img{width: 100%;height: 100%;}
.head { display: flex; padding: 0 2.5rem; height: 4rem;align-items: center;}
.head-text{font-size: 1.25rem;opacity: 0.5;}
/* banner */
.banner {
  text-align: center;
  width: 82.94rem;
  margin: 6.25rem auto 2.75rem;
}
.banner-title {
  font-weight: bold;
  font-size: 4.5rem;
  line-height: 5.27rem;
}
.banner-desk {
  font-size: 1.88rem;
  line-height: 2.2rem;
  margin: 2.75rem auto 4.38rem;
  opacity: 70%;
}
.banner-btn {
  display: inline-flex;
  width: 23.5rem;
  height: 6.5rem;
  justify-content: center;
  align-items: center;
  background: #1A73E8;
  border-radius: 4.94rem 4.94rem 4.94rem 4.94rem;
  text-align: center;
  color: #FFFFFF;
  font-size: 1.88rem;
  margin-bottom: 1rem;
  position: relative;
  overflow: hidden;
}
.banner-btn:hover{
  background-color: #1d6fd9;
}
.banner-btn img{
  display: inline-block;
  width: 2.5rem;
  margin-right: 0.63rem;
}
.banner-text {
  font-size: 1rem;
  opacity: 60%;
  line-height: 1.17rem;
  margin-top: 1rem;
}
/* swiper-box */
.swiper-box{
  text-align: center;
  width: 82.94rem;
  height: 42.81rem;
  margin: 0 auto 17.56rem;
}
.swiper-tab {
 margin-top: 2.31rem;
 display: inline-flex;
}
.wp-tab-label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 0.5rem;
  height: 0.5rem;
  background: #EAEAEA;
  border-radius: 0.88rem 0.88rem 0.88rem 0.88rem;
  margin: 0 0.22rem;
}
.wp-tab-label.active{
  width: 2.88rem;
  height: 0.5rem;
  background: #1A73E8;
  border-radius: 0.88rem 0.88rem 0.88rem 0.88rem;
}
ul.swiper-certif-list{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
ul.swiper-certif-list li{
  left: 50%;
  position: absolute;
  transition: all .5s ease-out;
  border-radius: 5px;
  text-align: center;
  cursor: pointer; 
}
 .YcenterPosition {
  position: absolute;
  top: 50%
}
 ul.swiper-certif-list li img {
  width: 72.94rem;
  margin: 0 auto;
  display: block
}
.p3 {
  transform: translate3d(-75%, -50%, 0) scale(.8);
  transform-origin: 80% 50%;
  z-index: 2
}
.p4 {
  transform: translate3d(-50%, -50%, 0) scale(1);
  transform-origin: 0 50%;
  z-index: 3;
}
.p5 {
  transform: translate3d(-25%, -50%, 0) scale(.8);
  transform-origin: 20% 50%;
  z-index: 2
}
/* group */
.group {
  width: 82.94rem;
  height: 30.81rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 11.81rem;
}
.group img {
  width: 47rem;
}
.group-3 {
  margin-bottom: 9.19rem;
}
.experience-btn{
  width: 14rem;
  height: 2.88rem;
  background: #1A73E8;
  border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
  text-align: center;
  font-size: 1rem;
  color: #FFFFFF;
  line-height: 2.88rem;
}
.experience-btn:hover{
  background-color: #1d6fd9;
}
.group-left, .group-right{
  width: 31.69rem;
  margin-right: 2.8rem;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: center;
}
.group-right{
  margin-right: 0;
  margin-left: 2.8rem;
}
.group-desk {
  width: 31.69rem;
  height: 3rem;
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 2.64rem;
  margin-bottom: 0.88rem;
}
.group-tips{
  line-height: 1.17rem;
  opacity: 70%;
  margin-bottom: 2.5rem;
}
.group-tips li {
  margin-bottom: 0.88rem;
}
.group-tips li:last-child {
  margin-bottom: 0;
}
.group-tips li:before { 
  content: ""; 
  width: 0.25rem; 
  height: 0.25rem; 
  border-radius: 50%; 
  background: #626365; 
  float: left; 
  margin: 0.5rem 0.5rem 0 0;
}
/* entrance */
.entrance {
  font-size: 0.88rem;
  height: 3.62rem;
  line-height: 3.62rem;
  background: #E8F1FD;
  min-width: 82.94rem;
  text-align: center;
  color: rgba(32, 33, 36, 0.7);
}
/* footer */
.footer{
  background: #E8F1FD;
  min-width: 82.94rem;
  position: sticky;
  bottom: 0;
  z-index: 999;
  display: none;
}
.footer-content{
  width: 100%;
  height: 5.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 0.06rem solid rgba(78,95,255,0.1);
}
.footer-content p {
  font-size: 1rem;
  margin-right: 6.25rem;
}
.footer-btn{
  width: 12.5rem;
  height: 3.25rem;
  background: #1A73E8;
  border-radius: 4.94rem;
  font-size: 0.88rem;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.footer-btn:hover{
  background-color: #1d6fd9;
}
.footer-btn img{
  display: inline-block;
  width: 1.25rem;
  margin-left: 0.63rem;
}

.round-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  background: rgba(255, 255, 255, 0.20);
  width: 280px;
  height: 280px;
  border-radius: 50%;
  margin-left: -140px;
  margin-top: -140px;
  animation: spread 1.5s infinite both;
}
@keyframes spread {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
}